{% extends 'base.html' %}
{% load static %}

    {% block content  %}
        <!--Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">About Us</h1>
                        <p class="lead fw-normal text-white-50 mb-0">Welcome to SM Mart! all shopping solutions at one place...</p>
                    </div>
                </div>
            </header>

            <div class="container">
                <div class="row">
                    <center>
                        <div class="col-8">
                            <P align="justify">
                                <br><br>
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Lacus parturient enim felis massa a ridiculus neque sed. Cubilia ac nam litora adipiscing sem dolor mattis. Senectus diam ad quam augue velit. Adipiscing pharetra mi mauris gravida curae montes, euismod facilisis. Nunc leo fringilla ultricies per quam aliquet consectetur, aliquet primis? Tempor natoque sed id tincidunt aliquam elementum commodo dui mattis. Ultricies consectetur etiam fames; faucibus eu lectus at nam nibh. Himenaeos sem velit blandit nullam mollis magna a porta.
                                <br><br>
                                Tortor ex libero adipiscing tellus velit lorem. Nostra vel maximus lacus dui vehicula senectus laoreet interdum. Pharetra ullamcorper commodo consequat; penatibus rhoncus iaculis consectetur feugiat. Parturient habitasse conubia hendrerit felis consectetur. Porttitor vulputate nisi habitasse accumsan cubilia. Phasellus platea fermentum fermentum maximus volutpat feugiat.
                                <br><br>
                                Erat nisi augue enim enim nec sodales porttitor. Posuere laoreet nulla quam sem sapien rhoncus dapibus nullam phasellus. Felis dictumst habitant magna tempus eros ac laoreet fames. Magna sapien pulvinar donec etiam risus, magna vel porta. Tincidunt magnis ipsum lectus lacus felis nisi nostra ut amet. Imperdiet a fringilla turpis; viverra phasellus platea. Phasellus hendrerit torquent vestibulum duis cursus nisl bibendum mauris.
                                <br><br>
                            </p>
                        </div>
                    </center>
                </div>
            </div>    
    {% endblock  %}