{% extends 'base.html' %}

    {% block content  %}
    
    
    <!--Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Billing Info</h1>
                    <p class="lead fw-normal text-white-50 mb-0"> Enter Your Billing Info...</p>
                </div>
            </div>
        </header>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header">
                          Order Summary
                        </div>
                        <div class="card-body">
                            {% for product in cart_products %}
                                {{ product.name }}:
                                {% if product.is_sale %}
                                    ${{ product.sale_price }}
                                {% else %}
                                    ${{ product.price }}
                                {% endif %}
                                <br>
                                <small>
                                Quantity:
                                    {% for key, value in quantities.items %}
                                        {% if key == product.id|slugify %}
                                            {{ value }}
                                        {% endif %}   
                                    {% endfor %}
                                </small>
                                <br><br>
                                {% endfor %}
                                <strong>Total:  ${{ totals }}</strong>
                                <br><br>
                                <a href="{% url 'cart_summary' %}" class="btn btn-outline-secondary">Update Items</a>
                        </div>
                    </div>
                      <br>
                    <div class="card">
                        <div class="card-header">
                          Shipping Info
                        </div>
                        <div class="card-body">
                            Name: {{ shipping_info.full_name }}<br/>
                            Email: {{ shipping_info.email }}<br/>
                            Address1: {{ shipping_info.address1 }}<br/>
                            Address2: {{ shipping_info.address2 }}<br/>
                            City: {{ shipping_info.city }}<br/>
                            Province: {{ shipping_info.province }}<br/>
                            Zipcode: {{ shipping_info.zipcode }}<br/>
                            Country: {{ shipping_info.country }}<br/><br/>
                            <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-header">
                            <form method="POST" action="">
                          Billing Info
                        </div>
                        <div class="card-body">
                           {{ billing_form.as_p }}
                        </div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-secondary">Pay Now</button>
                </form>
                </div>
            </div>
        </div>
        <br><br><br>
        <br><br><br>

    {% endblock  %}