{% extends 'base.html' %}
{% load static %}

    {% block content  %}
        <!--Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">Shipping Information</h1>
                        <p class="lead fw-normal text-white-50 mb-0">Fill Your Shipping Info...</p>
                    </div>
                </div>
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <br><br>
                            <strong>Shipping Details...</strong>
                            <br><br>
                            <form method="POST" action="{% url 'shipping_info' %}">
                                {% csrf_token %}

                                {{ shipping_form.as_p }}
                                <br>
                                <button type="submit" class="btn btn-secondary">
                                    Update Info
                                </button>
                            </form>
                            <br><br>
                            <br><br>
                            <br><br>
                            <br><br>
                            <br><br>
                        </div>

                </div>
            </div>    
    {% endblock  %}